// *** variables *** //

$clr-main: #a9041b;
$clr-sub: #c8b4b6;
$clr-accent: #f9150d;
$clr-black: #130507;
$clr-white: #f3dddf;
$gutter: 40px;

@media (max-width: 600px) {
  $gutter: 20px;
}

// *** mix-ins *** //

@mixin flex-center($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-space($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin font($size, $weight, $line, $spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  letter-spacing: $spacing;
}

// *** standards *** //

body {
  color: $clr-white;
  background-color: $clr-black;
}

h1 {
  @include font(3rem, 800, 0.9, 0.01rem);
}

h2 {
  @include font(2.4rem, 700, 1, 0.02rem);
}

h3 {
  @include font(2rem, 700, 1, 0.02rem);
}

h4 {
  @include font(1.4rem, 500, 1.2, 0.03rem);
}

p {
  @include font(1rem, 400, 1.2, 0.03rem);
}
