// *** variables *** //

$clr-main: #a9041b;
$clr-sub: #c8b4b6;
$clr-accent: #f9150d;
$clr-black: #130507;
$clr-white: #f3dddf;
$gutter: 40px;

@media (max-width: 600px) {
  $gutter: 20px;
}

// *** mix-ins *** //

@mixin flex-center($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-space($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin font($size, $weight, $line, $spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  letter-spacing: $spacing;
}
